body {
    width: 1000px;
    height: 1600px;
    background-color: rgb(238, 232, 232);
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr 2fr 3fr 3fr 3fr 1fr;
    grid-template-columns: auto;
    gap: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.header-footer {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
}

.center {
    margin-left: 80px;
    margin-right: 80px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa {
    width: 50px;
    font-size: 90px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}

.fa:hover {
    color: black;
}

a {
    color: red;
}

.links {
    text-decoration: none;
    color: black;
}

.links:hover {
    color: red;
    text-decoration: underline;
}

.border {
    border: 1px solid black;
    padding: 10px;
}

.red {
    background-color: red;
    color: white;
}
.red:hover {
    color: black;
}

#nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 50px;
}

h1 {
    background-color: rgb(250, 233, 233);
  }

#main-heading {
    background-image:url(dots.jpg);
    text-align: center;
}

#image {
    background-color: red;
}

#logo {
    height: 180px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#mini-logo {
    width: 160px;
    height: 60px;
}